4webformPost/4webformpostflows.json
[{"id":"35ab0055.7b505","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"b2f033bf.4a79c","type":"http in","z":"35ab0055.7b505","name":"[post] webform","url":"/webformpost","method":"post","upload":false,"swaggerDoc":"","x":560,"y":240,"wires":[["b3a90474.302558","653f4f1b.a33f8"]]},{"id":"d14aa60d.b6da68","type":"http response","z":"35ab0055.7b505","name":"","statusCode":"","headers":{},"x":990,"y":220,"wires":[]},{"id":"5b120071.f6365","type":"function","z":"35ab0055.7b505","name":"Response","func":"msg.payload = '<h2>You entered the following : '+msg.payload + \"</h2>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":220,"wires":[["d14aa60d.b6da68"]]},{"id":"b3a90474.302558","type":"json","z":"35ab0055.7b505","name":"","property":"payload","action":"","pretty":false,"x":710,"y":220,"wires":[["5b120071.f6365"]]},{"id":"653f4f1b.a33f8","type":"debug","z":"35ab0055.7b505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]}]