7viewdata/7viewdataflows.json
[{"id":"35ab0055.7b505","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"cc6e06bb.d08738","type":"http in","z":"35ab0055.7b505","name":"[get] viewdata","url":"/viewdata","method":"get","upload":false,"swaggerDoc":"","x":520,"y":280,"wires":[["9709a3c3.3a065"]]},{"id":"ee4973b2.df8f9","type":"http response","z":"35ab0055.7b505","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":1110,"y":280,"wires":[]},{"id":"3552d42f.b60d3c","type":"template","z":"35ab0055.7b505","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webform</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <h1>Node-RED Contacts</h1>\n\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>\n    \n    <table>\n        <tr>\n            <th>이름(Name)</th>\n            <th>전화(Phone)</th>\n            <th>주소(Address)</th>\n        </tr>\n        {{#payload}}\n        <tr>\n            <td>{{firstname}}</td>\n            <td>{{phonenum}}</td>\n            <td>{{address}}</td>\n        </tr>\n        {{/payload}}\n    </table>\n    <br>\n    <div>\n        <form method=\"post\" action=\"/webformpost2\">\n            <label for=\"fname\">이름(name)</label>\n            <input type=\"text\" name=\"firstname\" id=\"fname\">\n            <label for=\"pnum\">전화(phone)</label>\n            <input type=\"text\" name=\"phonenum\" id=\"pnum\">\n            <label for=\"addr\">주소(address)</label>\n            <input type=\"text\" name=\"address\" id=\"addr\">\n            <input type=\"submit\" value=\"제출(Submit)\">\n        </form>\n    </div>\n</body>\n</html>\n","output":"str","x":990,"y":280,"wires":[["ee4973b2.df8f9"]]},{"id":"4333cb31.0cce84","type":"template","z":"35ab0055.7b505","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"table {\n    width: 100%;\n}\ntable, td {\n    border: 1px solid red;\n    border-collapse: collapse;\n}\ntd {\n    padding: 15px;\n    text-align: left;\n}\nth {\n    background-color: black;\n    color: white;\n    padding: 15px;\n    text-align: left;\n}\n","output":"str","x":870,"y":280,"wires":[["3552d42f.b60d3c"]]},{"id":"9709a3c3.3a065","type":"function","z":"35ab0055.7b505","name":"Get from DB","func":"msg.topic = \"SELECT * FROM contacts\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":280,"wires":[["ad0fc2f2.be70b"]]},{"id":"ad0fc2f2.be70b","type":"sqlite","z":"35ab0055.7b505","mydb":"fca81351.23ff","sqlquery":"msg.topic","sql":"","name":"contactDB","x":770,"y":340,"wires":[["4333cb31.0cce84","e3a385b3.684fc8"]]},{"id":"e3a385b3.684fc8","type":"debug","z":"35ab0055.7b505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"fca81351.23ff","type":"sqlitedb","db":"itemDB","mode":"RWC"}]