6webform2/6webform2flows.json
[{"id":"35ab0055.7b505","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"100419c7.891716","type":"http in","z":"35ab0055.7b505","name":"[post] webform2","url":"/webformpost2","method":"post","upload":false,"swaggerDoc":"","x":580,"y":320,"wires":[["5a6fa5db.82e15c","2968d049.4657f"]]},{"id":"e031c586.e40378","type":"http response","z":"35ab0055.7b505","name":"","statusCode":"","headers":{},"x":1010,"y":280,"wires":[]},{"id":"5730934e.b33dbc","type":"function","z":"35ab0055.7b505","name":"Response","func":"msg.payload = '<h2>You entered the following : '+msg.payload + \"</h2>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":280,"wires":[["e031c586.e40378"]]},{"id":"5a6fa5db.82e15c","type":"json","z":"35ab0055.7b505","name":"","property":"payload","action":"","pretty":false,"x":730,"y":280,"wires":[["5730934e.b33dbc"]]},{"id":"2968d049.4657f","type":"json","z":"35ab0055.7b505","name":"","property":"payload","action":"","pretty":false,"x":730,"y":340,"wires":[["fa1d6b63.f3f058"]]},{"id":"62829823.a925d8","type":"sqlite","z":"35ab0055.7b505","mydb":"fca81351.23ff","sqlquery":"msg.topic","sql":"INSERT INTO contacts(firstname,phonenum,address) VALUES ($firstname,$phonenum,$address)","name":"contactDB","x":1030,"y":340,"wires":[[]]},{"id":"fa1d6b63.f3f058","type":"function","z":"35ab0055.7b505","name":"Response","func":" var firstname = msg.payload.firstname;\nvar phonenum = msg.payload.phonenum;\nvar address = msg.payload.address;\n//msg.topic = \"INSERT INTO contacts (firstname,phonenum,address) VALUES('\"+firstname+\"','\"+phonenum+\"','\"+address+\"')\";\nmsg.topic = \"INSERT INTO contacts (firstname,phonenum,address) VALUES(\\'\"+firstname+\"\\',\\'\"+phonenum+\"\\',\\'\"+address+\"\\')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":340,"wires":[["62829823.a925d8"]]},{"id":"fca81351.23ff","type":"sqlitedb","db":"itemDB","mode":"RWC"}]