3webform/3webformflows.json
[{"id":"35ab0055.7b505","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"73b0ca9d.9252a4","type":"http in","z":"35ab0055.7b505","name":"3[get] webform","url":"/webform","method":"get","upload":false,"swaggerDoc":"","x":480,"y":260,"wires":[["a5687344.4c5f2"]]},{"id":"4e45d439.dd97cc","type":"http response","z":"35ab0055.7b505","name":"","statusCode":"","headers":{},"x":870,"y":260,"wires":[]},{"id":"4ad546ee.f5b7f8","type":"template","z":"35ab0055.7b505","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webform</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <h1>Node-RED Webform</h1>\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>    \n    <p>Using Node-REd to make Webpages</p>\n    \n    <div>\n        <form method=\"post\" action=\"/webformpost\">\n            <label for=\"fname\">이름(name)</label>\n            <input type=\"text\" name=\"firstname\" id=\"fname\">\n            <label for=\"pnum\">전화(phone)</label>\n            <input type=\"text\" name=\"phonenum\" id=\"pnum\">\n            <label for=\"addr\">주소(address)</label>\n            <input type=\"text\" name=\"address\" id=\"addr\">\n            <input type=\"submit\" value=\"제출(Submit)\">\n        </form>\n    </div>\n    \n\n</body>\n</html>\n","output":"str","x":750,"y":260,"wires":[["4e45d439.dd97cc"]]},{"id":"a5687344.4c5f2","type":"template","z":"35ab0055.7b505","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"        input[type=text], select{\n            width: 100%;\n            padding: 12px 20px;\n            margin: 8px 0;\n            border: 1px solid #ccc;\n            box-sizing: border-box;\n        }\n        input[type=submit]{\n            width: 100%;\n            background-color: #000000;\n            color: white;\n            padding: 14px 20px;\n            margin: 8px 0;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;           \n        }\n        input[type=submit]:hover{\n            background-color: #666666;\n        }\n        div{\n            border-radius: 5px;\n            background-color: #f2f2f2;\n            padding: 20px;\n        }","output":"str","x":630,"y":260,"wires":[["4ad546ee.f5b7f8"]]}]