5crudDB/5crudDBflows.json
[{"id":"35ab0055.7b505","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"dce7afdd.6c758","type":"inject","z":"35ab0055.7b505","name":"Create Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE contacts (firstname text, phonenum text, address text)","payload":"","payloadType":"date","x":630,"y":260,"wires":[["dff46f01.9253c"]]},{"id":"83aacb45.95fe08","type":"inject","z":"35ab0055.7b505","name":"add kim ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO contacts VALUES(\"kim Lang\",\"123-4567\",\"korea seoul\")","payload":"","payloadType":"date","x":620,"y":320,"wires":[["dff46f01.9253c"]]},{"id":"dff46f01.9253c","type":"sqlite","z":"35ab0055.7b505","mydb":"fca81351.23ff","sqlquery":"msg.topic","sql":"","name":"contactDB","x":830,"y":260,"wires":[["2056e0f8.f07e6"]]},{"id":"2056e0f8.f07e6","type":"debug","z":"35ab0055.7b505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":260,"wires":[]},{"id":"bc15aa87.b29f98","type":"inject","z":"35ab0055.7b505","name":"add jin","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO contacts VALUES(\"jin jin\",\"789-4567\",\"korea dobong\")","payload":"","payloadType":"date","x":600,"y":360,"wires":[["dff46f01.9253c"]]},{"id":"323e5d5d.c873f2","type":"inject","z":"35ab0055.7b505","name":"Delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE FROM contacts ","payload":"","payloadType":"date","x":620,"y":140,"wires":[["dff46f01.9253c"]]},{"id":"a7cac854.1b2658","type":"inject","z":"35ab0055.7b505","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE contacts ","payload":"","payloadType":"date","x":630,"y":200,"wires":[["dff46f01.9253c"]]},{"id":"fca81351.23ff","type":"sqlitedb","db":"itemDB","mode":"RWC"}]