2cssPage/2cssPage.json
[{"id":"c77783f4.603eb","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"73120bb1.ebcdd4","type":"http in","z":"c77783f4.603eb","name":"2CSS Page","url":"/home2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["58ff6025.780a"]]},{"id":"d8bf858f.4e2ef8","type":"http response","z":"c77783f4.603eb","name":"","statusCode":"","headers":{},"x":490,"y":160,"wires":[]},{"id":"92284473.791708","type":"template","z":"c77783f4.603eb","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webpage</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <h1>KiKi Node-RED website</h1>\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>    \n    <p>Using Node-REd to make Webpages</p>\n\n</body>\n</html>\n","output":"str","x":370,"y":160,"wires":[["d8bf858f.4e2ef8"]]},{"id":"58ff6025.780a","type":"template","z":"c77783f4.603eb","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"    body{\n        background-color: yellow;\n        margin: 0 auto;\n    }\n    h1{\n        color: red;\n        text-align: center;\n    }\n    p{\n        font-family: Verdana;\n        font-size: 20px;\n        color: black\n    }","output":"str","x":250,"y":160,"wires":[["92284473.791708"]]}]