1htmlPage/1htmlPage.json
[{"id":"c77783f4.603eb","type":"tab","label":"Webpage-1","disabled":false,"info":""},{"id":"9522cbfe.b32548","type":"template","z":"c77783f4.603eb","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webpage</title>\n</head>\n<body>\n    <h1>KiKi Node-REd website</h1>\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <br><br>    \n    <p>Using Node-REd to make Webpages</p>\n\n</body>\n</html>\n","output":"str","x":310,"y":200,"wires":[["c13324d3.058b98"]]},{"id":"3d72e46c.30a3fc","type":"http in","z":"c77783f4.603eb","name":"1.HTML page","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":150,"y":200,"wires":[["9522cbfe.b32548"]]},{"id":"c13324d3.058b98","type":"http response","z":"c77783f4.603eb","name":"","statusCode":"","headers":{},"x":450,"y":200,"wires":[]}]