8kikiWebDB/flows.json
[{"id":"bfaea3a.ff0826","type":"tab","label":"Webpage-2","disabled":false,"info":""},{"id":"c7f07760.726428","type":"http in","z":"bfaea3a.ff0826","name":"CSS Page","url":"/home2","method":"get","upload":false,"swaggerDoc":"","x":80,"y":200,"wires":[["531157b.ff46fa8"]]},{"id":"3761c5f7.9f1b6a","type":"http response","z":"bfaea3a.ff0826","name":"","statusCode":"","headers":{},"x":450,"y":200,"wires":[]},{"id":"db2fd257.a1013","type":"template","z":"bfaea3a.ff0826","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webpage</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <h1>amaging KiKi website</h1>\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>    \n    <p>Using Node-REd to make Webpages</p>\n\n</body>\n</html>\n","output":"str","x":330,"y":200,"wires":[["3761c5f7.9f1b6a"]]},{"id":"531157b.ff46fa8","type":"template","z":"bfaea3a.ff0826","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"    body{\n        background-color: yellow;\n    }\n    h1{\n        color: red;\n        text-align: center;\n    }\n    p{\n        font-family: Verdana;\n        font-size: 20px;\n        color: black\n    }","output":"str","x":210,"y":200,"wires":[["db2fd257.a1013"]]},{"id":"fe3fe7a2.a6ab38","type":"template","z":"bfaea3a.ff0826","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webpage</title>\n</head>\n<body>\n    <h1>amaging KiKi website</h1>\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>    \n    <p>Using Node-REd to make Webpages</p>\n\n</body>\n</html>\n","output":"str","x":250,"y":120,"wires":[["364f6fda.2ebef"]]},{"id":"24c26239.0ec8fe","type":"http in","z":"bfaea3a.ff0826","name":"HTML page","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["fe3fe7a2.a6ab38"]]},{"id":"364f6fda.2ebef","type":"http response","z":"bfaea3a.ff0826","name":"","statusCode":"","headers":{},"x":390,"y":120,"wires":[]},{"id":"c366f919.c255c8","type":"http in","z":"bfaea3a.ff0826","name":"[get] webform","url":"/webform","method":"get","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["d589d04f.0fb5b"]]},{"id":"7a2a2cb5.a570f4","type":"http response","z":"bfaea3a.ff0826","name":"","statusCode":"","headers":{},"x":470,"y":280,"wires":[]},{"id":"88d11a63.b255c8","type":"template","z":"bfaea3a.ff0826","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webform</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <h1>Node-RED Webform</h1>\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>    \n    <p>Using Node-REd to make Webpages</p>\n    \n    <div>\n        <form method=\"post\" action=\"/webformpost\">\n            <label for=\"fname\">이름(name)</label>\n            <input type=\"text\" name=\"firstname\" id=\"fname\">\n            <label for=\"pnum\">전화(phone)</label>\n            <input type=\"text\" name=\"phonenum\" id=\"pnum\">\n            <label for=\"addr\">주소(address)</label>\n            <input type=\"text\" name=\"address\" id=\"addr\">\n            <input type=\"submit\" value=\"제출(Submit)\">\n        </form>\n    </div>\n    \n\n</body>\n</html>\n","output":"str","x":350,"y":280,"wires":[["7a2a2cb5.a570f4"]]},{"id":"d589d04f.0fb5b","type":"template","z":"bfaea3a.ff0826","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"        input[type=text], select{\n            width: 100%;\n            padding: 12px 20px;\n            margin: 8px 0;\n            border: 1px solid #ccc;\n            box-sizing: border-box;\n        }\n        input[type=submit]{\n            width: 100%;\n            background-color: #000000;\n            color: white;\n            padding: 14px 20px;\n            margin: 8px 0;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;           \n        }\n        input[type=submit]:hover{\n            background-color: #666666;\n        }\n        div{\n            border-radius: 5px;\n            background-color: #f2f2f2;\n            padding: 20px;\n        }","output":"str","x":230,"y":280,"wires":[["88d11a63.b255c8"]]},{"id":"ca38bf7a.761f7","type":"http in","z":"bfaea3a.ff0826","name":"[post] webform","url":"/webformpost","method":"post","upload":false,"swaggerDoc":"","x":100,"y":460,"wires":[["d8cec5eb.bd9e68","d9040f97.3c646"]]},{"id":"e74592f0.4164","type":"http response","z":"bfaea3a.ff0826","name":"","statusCode":"","headers":{},"x":530,"y":440,"wires":[]},{"id":"ca407734.e2a298","type":"function","z":"bfaea3a.ff0826","name":"Response","func":"msg.payload = '<h2>You entered the following : '+msg.payload + \"</h2>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":440,"wires":[["e74592f0.4164"]]},{"id":"d8cec5eb.bd9e68","type":"json","z":"bfaea3a.ff0826","name":"","property":"payload","action":"","pretty":false,"x":250,"y":440,"wires":[["ca407734.e2a298"]]},{"id":"d9040f97.3c646","type":"debug","z":"bfaea3a.ff0826","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":480,"wires":[]},{"id":"e4cd40ae.4787a","type":"inject","z":"bfaea3a.ff0826","name":"Create Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE contacts (firstname text, phonenum text, address text)","payload":"","payloadType":"date","x":100,"y":700,"wires":[["a4c0c756.671c08"]]},{"id":"eb086e4e.a4876","type":"inject","z":"bfaea3a.ff0826","name":"add kim ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO contacts VALUES(\"kim Lang\",\"123-4567\",\"korea seoul\")","payload":"","payloadType":"date","x":90,"y":760,"wires":[["a4c0c756.671c08"]]},{"id":"a4c0c756.671c08","type":"sqlite","z":"bfaea3a.ff0826","mydb":"fca81351.23ff","sqlquery":"msg.topic","sql":"","name":"contactDB","x":300,"y":700,"wires":[["2f860ac1.6d8216"]]},{"id":"2f860ac1.6d8216","type":"debug","z":"bfaea3a.ff0826","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":700,"wires":[]},{"id":"b22d0eb4.a45fc","type":"http in","z":"bfaea3a.ff0826","name":"[post] webform2","url":"/webformpost2","method":"post","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["502a514c.0432e","b5cd354c.701f28"]]},{"id":"a4e31b8b.d49028","type":"http response","z":"bfaea3a.ff0826","name":"","statusCode":"","headers":{},"x":530,"y":840,"wires":[]},{"id":"51631e90.089ed","type":"function","z":"bfaea3a.ff0826","name":"Response","func":"msg.payload = '<h2>You entered the following : '+msg.payload + \"</h2>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":840,"wires":[["a4e31b8b.d49028"]]},{"id":"502a514c.0432e","type":"json","z":"bfaea3a.ff0826","name":"","property":"payload","action":"","pretty":false,"x":250,"y":840,"wires":[["51631e90.089ed"]]},{"id":"b5cd354c.701f28","type":"json","z":"bfaea3a.ff0826","name":"","property":"payload","action":"","pretty":false,"x":250,"y":900,"wires":[["f16ce0a8.003ac"]]},{"id":"22be2f1c.6a245","type":"sqlite","z":"bfaea3a.ff0826","mydb":"fca81351.23ff","sqlquery":"msg.topic","sql":"INSERT INTO contacts(firstname,phonenum,address) VALUES ($firstname,$phonenum,$address)","name":"contactDB","x":550,"y":900,"wires":[[]]},{"id":"8cc43e78.10cf8","type":"http in","z":"bfaea3a.ff0826","name":"[get] viewdata","url":"/viewdata","method":"get","upload":false,"swaggerDoc":"","x":100,"y":980,"wires":[["127a456.051c9bb"]]},{"id":"fa62e50c.c956e8","type":"http response","z":"bfaea3a.ff0826","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":690,"y":980,"wires":[]},{"id":"7de8ac17.1eaf54","type":"template","z":"bfaea3a.ff0826","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Node-RED Webform</title>\n    <style>{{{payload.style}}}</style>\n</head>\n<body>\n    <h1>Node-RED Contacts</h1>\n\n    <a href=\"/home\">html home</a>\n    <a href=\"/home2\">html with CSS</a>\n    <a href=\"/webform\">Webform</a>\n    <a href=\"/webform2\">Webform 2</a>\n    <a href=\"/viewdata\">Viewdata</a><br><br>\n    \n    <table>\n        <tr>\n            <th>이름(Name)</th>\n            <th>전화(Phone)</th>\n            <th>주소(Address)</th>\n        </tr>\n        {{#payload}}\n        <tr>\n            <td>{{firstname}}</td>\n            <td>{{phonenum}}</td>\n            <td>{{address}}</td>\n        </tr>\n        {{/payload}}\n    </table>\n    <br>\n    <div>\n        <form method=\"post\" action=\"/webformpost2\">\n            <label for=\"fname\">이름(name)</label>\n            <input type=\"text\" name=\"firstname\" id=\"fname\">\n            <label for=\"pnum\">전화(phone)</label>\n            <input type=\"text\" name=\"phonenum\" id=\"pnum\">\n            <label for=\"addr\">주소(address)</label>\n            <input type=\"text\" name=\"address\" id=\"addr\">\n            <input type=\"submit\" value=\"제출(Submit)\">\n        </form>\n    </div>\n</body>\n</html>\n","output":"str","x":570,"y":980,"wires":[["fa62e50c.c956e8"]]},{"id":"564c3fa4.361e8","type":"template","z":"bfaea3a.ff0826","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"table {\n    width: 100%;\n}\ntable, td {\n    border: 1px solid red;\n    border-collapse: collapse;\n}\ntd {\n    padding: 15px;\n    text-align: left;\n}\nth {\n    background-color: black;\n    color: white;\n    padding: 15px;\n    text-align: left;\n}\n","output":"str","x":450,"y":980,"wires":[["7de8ac17.1eaf54"]]},{"id":"127a456.051c9bb","type":"function","z":"bfaea3a.ff0826","name":"Get from DB","func":"msg.topic = \"SELECT * FROM contacts\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":980,"wires":[["f2ff834b.35669"]]},{"id":"f2ff834b.35669","type":"sqlite","z":"bfaea3a.ff0826","mydb":"fca81351.23ff","sqlquery":"msg.topic","sql":"","name":"contactDB","x":350,"y":1040,"wires":[["564c3fa4.361e8","e01b8c27.a78a4"]]},{"id":"e01b8c27.a78a4","type":"debug","z":"bfaea3a.ff0826","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":1040,"wires":[]},{"id":"7f4ab73b.4bb498","type":"inject","z":"bfaea3a.ff0826","name":"add jin","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO contacts VALUES(\"jin jin\",\"789-4567\",\"korea dobong\")","payload":"","payloadType":"date","x":70,"y":800,"wires":[["a4c0c756.671c08"]]},{"id":"602916ac.276db8","type":"inject","z":"bfaea3a.ff0826","name":"Delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DELETE FROM contacts ","payload":"","payloadType":"date","x":90,"y":580,"wires":[["a4c0c756.671c08"]]},{"id":"6e19c1c1.97e53","type":"inject","z":"bfaea3a.ff0826","name":"Drop Table","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE contacts ","payload":"","payloadType":"date","x":100,"y":640,"wires":[["a4c0c756.671c08"]]},{"id":"f16ce0a8.003ac","type":"function","z":"bfaea3a.ff0826","name":"Response","func":" var firstname = msg.payload.firstname;\nvar phonenum = msg.payload.phonenum;\nvar address = msg.payload.address;\n//msg.topic = \"INSERT INTO contacts (firstname,phonenum,address) VALUES('\"+firstname+\"','\"+phonenum+\"','\"+address+\"')\";\nmsg.topic = \"INSERT INTO contacts (firstname,phonenum,address) VALUES(\\'\"+firstname+\"\\',\\'\"+phonenum+\"\\',\\'\"+address+\"\\')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":900,"wires":[["22be2f1c.6a245"]]},{"id":"fca81351.23ff","type":"sqlitedb","db":"itemDB","mode":"RWC"}]